

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
  
<div>

  <table class="table  table-striped">
    <thead>
      <!-- 
      create table if not exists `pat_info` (
        `id` varchar(14) not null ,
        `fname` varchar(50) not null,
        `lname` varchar(50) not null,
        `email` varchar(100) not null,
        `gender` varchar(100) not null,
        `dob` varchar(100) not null,
        `adhar` varchar(100) not null,
        `phno` varchar(100) not null,
        `postalcode` varchar(100) not null,
        `score` varchar(100) not null,
        `result` varchar(100) not null,
        primary key(`id`))
      default charset=utf8; -->
      <trclass="">
        <th scope="col">Sl no. </th>
        <th scope="col">Firstname </th>
        <th scope="col">Lastname </th>
        <th scope="col">patient id </th>
        <th scope="col">email </th>
        <th scope="col">gender </th>
        <th scope="col">dob </th>
        <th scope="col">adhar </th>
        <th scope="col">phno </th>
        <th scope="col">score </th>
        <th scope="col">result </th>
        </tr>
    </thead>


    <tbody>
     
      {% for todo in parent_list %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{todo.fname}}</td>
                <td>{{todo.lname}}</td>
                <td>{{todo.id}}</td>
                <td>{{todo.email}}</td>
                <td>{{todo.gender}}</td>
                <td>{{todo.dob}}</td>
                <td>{{todo.adhar}}</td>
                <td>{{todo.phno}}</td>
                <td>{{todo.score}}</td>
                <td>{{todo.result}}</td>
                <!--
                <td>
                     <a href="/update/{{todo.sno}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Update</button>
                  </td> <a href="/delete/{{todo.sno}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Delete</button>
                  -->
                 
              </tr>
              
              {% endfor %}

    </tbody>
  </table>

</div>

    <!-- {{parent_list[0]['id']}}
    <ol>
      {% for dict_item in parent_list %}
      {% for key, value in dict_item.items() %}
      <tr>
        <td>
          <h3> {{key}} : {{value}}</h3>
        </td>
      </tr>
      {% endfor %}
      {% endfor %}


    </ol> -->


     
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  
  </body>
</html>